@font-face {
    font-family: chinese-font;
    src: url("../fonts/chinese-font.ttf");
}

.chinese-font{
    font-family: 'chinese-font';
}

.noline-a{
    background-image: none;
}

#top{
    max-width: 1400px;
}

/*中间文章列表*/
.card-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.topBadges{
    font-size: 0.4em;;
}


/*右侧菜单Start*/
.collapsible,.full-width {
    width: 100%;
}

/*分页*/
.home-page{
    width: 100%;
    text-align: center;
}

/*向上*/
.to-top{
    opacity: 1;
    display: inline-block;
    padding: 1em;
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.to-top .paper-btn {
    padding: 0.6em 1em;
    border-top-left-radius: 185px 160px;
    border-top-right-radius: 200px 195px;
    border-bottom-right-radius: 160px 195px;
    border-bottom-left-radius: 185px 190px;
}

/*黑暗模式*/
.to-dark-light{
    opacity: 1;
    display: inline-block;
    padding: 1em;
    position: fixed;
    bottom: 4em;
    right: 1em;
    margin-bottom: 10px;
}

.to-dark-light .paper-btn {
    padding: 0.6em 1em;
    border-top-left-radius: 185px 160px;
    border-top-right-radius: 200px 195px;
    border-bottom-right-radius: 160px 195px;
    border-bottom-left-radius: 185px 190px;
    cursor:pointer;
}

/*footer 样式Start*/
.footer-value{
    margin-left: -7px;
}

